
.AnaSayfa-container {
    background-image: url("./Assets/Iteration-1-assets/home-banner.png");
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex; 
    flex-direction: column; 
     align-items: center; 
    text-align: center; 
    font-family: Roboto Condensed;
   
  }
  
  
.AnaSayfa-header{
  display: block;

  
}

  .AnaSayfa-header h1 {
    font-size: 86px;
    font-weight: 200;
    line-height: 80px;
    letter-spacing: 1.5px;
    color: white;
    margin: 0;
    padding: 0;

  
  }
  
  .AnaSayfa-header h2{
    font-family: "Satisfy", cursive;
    font-weight: normal;
    color: #fdc913;
    font-size:45px;
    margin:0
  }

  .AnaSayfa-button {
    background-color: #fdc913;
    border-radius: 50px;
    font-family: Barlow;
    font-size: 18px;
    font-weight: 600;
    line-height: 56px;
    text-align: center;
    padding: 0 60px;
    border: none;
    cursor: pointer;
    margin-top: 50px;
    
  }
  @media (max-width: 768px) {
    .AnaSayfa-container {
      padding: 20px 10px;  
      flex-direction: column;
      flex-wrap: wrap;
    }
    
    .AnaSayfa-header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      text-align: center;
    }
  
    .AnaSayfa-header h1 {
      font-size: 4rem; 
      width: 50%; 
      text-align: center;  
      margin: 0;
    }
  
    .AnaSayfa-header h2 {
      font-size: 2rem;
    }
  
    .AnaSayfa-button {
      padding: 3px 60px;
      font-size: 1rem;
    }
  }
  

 
  
